<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body style="padding-left:20px">

    <div style="margin:0 auto; background-position:center; height:200px; width:400px; display:block;
    background-image:url({{user_image}}); background-repeat:no-repeat"></div>

    <h1 style="margin-top:-30px;display:block; text-align:center; font-family:Courier New;
    font-size:30px; color:#1eaf95;"> Forecasting on demand. </h1>

    <p style="font-family:Courier New;
    font-size:30px;color:#1eaf95;"> Demo: Sales forecasting for consumer brand X. </p>

    <p style="font-family:Courier New;
    font-size:25px;color:black;"> The model's input parameters include a Store ID (1-10), and an Item ID (1-10).  </p>

    <form method="POST" style="">
    <label for="storeid" style ="font-size:20px;font-family:Courier New;">Store ID:</label><br>
    <input type="text" id="storeid" name="storeid"><br>
    <label for="itemid" style ="font-size:20px;font-family:Courier New;" >Item ID:</label><br>
    <input type="text" id="itemid" name="itemid"><br><br>
    <input type="submit" value="Submit Parameters" style ="font-size:20px;font-family:Courier New;">
    </form>

    <p style="font-size:20px;font-family:Courier New;" >
      Predicted order amount: {{ prediction[0] }}
    </p>

    <div style="border:1px solid #1eaf95;border-radius:15px;padding:20px">
    <p style="font-family:Courier New;
    font-size:20px;color:#1eaf95;display:block;"> Model & Data source: https://drive.google.com/drive/folders/1kozP31vwNrSaYGs4vkyns0XaWTpnnA7T?usp=sharing </p>

    <p style="font-family:Courier New;
    font-size:20px;color:#1eaf95;display:block;"> App Github repo: https://github.com/abdelatifsd/Yolla-app-demo </p>

    <p style="font-family:Courier New;
    font-size:20px;color:#1eaf95;display:block;"> Tech used: Numpy, pandas, sci-kit learn, Flask, Git, GCP </p>

    <p style="font-family:Courier New;
    font-size:20px;color:#1eaf95;display:block;"> The purpose of this project is to learn how to deploy an app on GCP (given that GCP is mainly used
    in Alloy's infrastructure), serve a predictive model using a flask server, and to familiarize myself with full stack development.</p>
  </div>

  </body>
</html>
